{% extends 'base.html' %} {% load static%} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Bienvenue a Regaloo
          </h1>
          <p class="lead fw-normal text-white-50 mb-4">
            Ce site est la boutique en ligne du snack REGALOO vous permettant
            d'effectuer votre commande directement chez nous.
          </p>
          <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
          >
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features"
              >𝘾𝙤𝙢𝙢𝙖𝙣𝙙𝙚𝙧</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href="#!"
              >𝘾𝙧𝙚𝙚 𝙐𝙣 𝘾𝙤𝙢𝙥𝙩𝙚</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
          class="img-fluid rounded-3 my-5"
          src="{% static 'images/regaloo.png' %}"
          alt="..."
        />
      </div>
    </div>
  </div>
</header>

<!-- Testimonial section-->
<div class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-10 col-xl-7">
        <div class="text-center">
          <div class="fs-4 mb-4 fst-italic">
            "Ce site est la boutique en ligne du Restaurant REGALOO vous
            permettant d'effectuer votre commande directement chez nous."
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <img
              class="rounded-circle me-3"
              src="{% static 'images/me.jpg' %}"
              alt="..."
            />
            <div class="fw-bold">
              Moncef Souri
              <span class="fw-bold text-primary mx-1">/</span>
              CEO, Regaloo
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog preview section-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">Nos services</h2>
          <p class="lead fw-normal text-muted mb-5">
           Ces services vous permettront de simplifier et d'améliorer votre expérience,On vous  offrent la possibilité de réserver une table et de passer des commandes en ligne de manière pratique et efficace.
          </p>
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="{% static 'images/passer coommande.jpg' %}" alt="..." />
          <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">
              Service
            </div>
            <a class="text-decoration-none link-dark stretched-link" href="#!"
              ><h5 class="card-title mb-3">Passer Une Commande</h5></a
            >
            <p class="card-text mb-0">
               Permet aux clients de passer des commandes à emporter ou de livraison directement depuis le site web. Ils peuvent choisir les plats, personnaliser leur commande .
            </p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img
            class="card-img-top"
            src="{% static 'images/reservation.jpg' %}"
            alt="..."
          />
          <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">
              Service
            </div>
            <a class="text-decoration-none link-dark stretched-link" href="#!"
              ><h5 class="card-title mb-3">Réservation En Ligne</h5></a
            >
            <p class="card-text mb-0">
              Les clients peuvent réserver une table directement depuis le site web du restaurant.
            </p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .col-lg-4{
    margin-left: 125px;
  }
</style>

{% endblock %}
