{% extends 'base.html' %} {% block content %}
<body>
  <div class="container">
    <div class="row gy-2 my-2">
      {% for item in items %}
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="card h-100" style="width: 18rem">
          <h4>{{item.name}}</h4>
          <img
            class="card-img-top"
            src="{{item.image.url}}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">{{item.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

<style>
  h4 {
    text-align: center;
  }
  .card {
    margin: 10px;
  }
</style>

{% endblock %}
