{% extends 'base.html' %} {% block content %}
<table>
    <tr>
        <td>
<div id="filter-section">
  <h2>Filter</h2>
  <form>
    <label for="price">Price Range:</label>
    <input type="range" id="price" name="price" min="0" max="100" step="10">
         <br>      
    <label for="brand">Brand:</label>
    <select id="brand" name="brand">
        {% for c in cat %}
           <option value="{{c}}">{{c}}</option>
                 {% endfor %}

    </select>
    

    <!-- Add more filter options based on your criteria -->

    <input type="submit" value="Apply Filters">
  </form>
</div>
</td>
<td>
<div class="container d-flex justify-content-center mt-50 mb-50">
        
        <div class="row gy-3 my-3">
          {% for item in items %}
           <div class="col-md-4 mt-2">
                <div class="card">
                                    <div class="card-body h-500">
                                        <div class="card-img-actions ">
                                            
                                                <img src="{{item.image.url}}" class="card-img img-fluid" width="96" height="350" alt="">
                                              
                                           
                                        </div>
                                    </div>

                                    <div class="card-body bg-light text-center">
                                        <div class="mb-2">
                                            <h6 class="font-weight-semibold mb-2">
                                                <a href="#" class="text-default mb-2" data-abc="true">{{item.name}}</a>
                                            </h6>

                                            <a href="#" class="text-muted" data-abc="true">{{item.categories}}</a>
                                        </div>

                                        <h3 class="mb-0 font-weight-semibold">{{item.price}} dh</h3>

                                        <div>
                                           <i class="fa fa-star star"></i>
                                           <i class="fa fa-star star"></i>
                                           <i class="fa fa-star star"></i>
                                           <i class="fa fa-star star"></i>
                                        </div>

                                        <div class="text-muted mb-3">34 reviews</div>

                                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                                    </div>
                                </div>
                                           
           </div> {% endfor %} 
           </div> 
           

        </div>
    </div>
    </td>
    </tr>
        </table>
    <style>
      
     

.mt-50{

    margin-top: 50px;
}

.mb-50{

    margin-bottom: 50px;
}



.card {
    height: 75vh;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1878rem;
}

.card-img-actions {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img{
width: 100%;
object-fit: cover;
}

.star{
        color: red;
}

.bg-cart {
    background-color:orange;
    color:#fff;
}

.bg-cart:hover {
    
    color:#fff;
}

.bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.bg-buy:hover {
    
    color:#fff;
}

a{

    text-decoration: none !important;
}
#filter-section {
  float: right;
  width: 200px;
}

    </style>
    

{% endblock %}
