{% extends 'base.html' %}  {% block content %} 
<form method="POST" action="">
  {% csrf_token %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-end h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="username"
              name="username"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form1Example13" style="color:black" placeholder="Username"
              ></label
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input
              type="password"
              id="pass"
              name="pass"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form1Example23" style="color:black" placeholder="Password"
              ></label
            >
          </div>

          <div
            class="d-flex justify-content-around align-items-center mb-4"
          ></div>

          <!-- Submit button -->
          <button type="submit"  class="btn btn-primary btn-lg btn-block">
            Sign in
          </button>
        
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  
</style>
</form>
{% endblock %}
